@model IEnumerable<ANTS.Models.Rating>

@{
    ViewBag.Title = "ViewComplains";
}

<h2>ViewComplains</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.packageid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complainstatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packageid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complainstatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ratingid }) |
            @Html.ActionLink("Details", "Details", new { id=item.ratingid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ratingid })
        </td>
    </tr>
}

</table>
